<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- Title --}}
  <title>
    {{#if title}}
    {{title}} - Trustworthy Times
    {{else}}
    Trustworthy Times
    {{/if}}
  </title>

  {{!-- Encoding --}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{!-- Meta information for embedding --}}
  <meta name="description"
    content="{{#if desc}}{{desc}} - Read more at the Trustworthy Times{{else}}The Trustworthy Times{{/if}}" />
  <meta name="url" content={{URL}} />
  <meta name="theme-color" content="#5e325e">
  <meta name="author" content="darcy" />

  {{!-- Add once have images --}}
  {{!-- Icon --}}
  {{!--
  <meta name="image" content="image/logo.png" />
  <meta property="image" content="image/logo.png" />
  <meta name="og:image" content="image/logo.png" />
  <meta property="og:image" content="image/logo.png" />
  --}}
  {{!--
  <link rel="shortcut icon" href="%PUBLIC_URL%/image/icon.png"> --}}

  <!-- See {{>url}} for more info -->

  {{>STYLE name="global"}}
</head>

<body>
  {{>@partial-block}}
</body>

</html>