{{#>boilerplate title=headline desc=desc image=image}}

<main id="main">
  {{>STYLE name="article"}}

  <article class="article">
    <section class="meta">


      <div class="topics">
        {{#each topic}}
        <span>
          {{this}}
        </span>
        {{/each}}
      </div>

      <h1 class="headline">
        {{#if headline}}
        {{headline}}
        {{else}}
        <span class="missing">
          [no headline]
        </span>
        {{/if}}
      </h1>

      <h2 class="stats">
        <span class="author">
          <span class="icon">🗣</span>
          {{#if author}}{{author}}
          {{else}}<span class="missing">Unknown Author</span>{{/if}}
        </span>

        <span class="date">
          <span class="icon">🕘︎</span>
          {{#if date}}{{date}}
          {{else}}<span class="missing">Unknown Date</span>{{/if}}
        </span>

        <span class="topic">
          <span class="icon">🏳</span>
          {{#if topic}}{{#each topic}}{{#if @last}}{{this}}{{/if}}{{/each}}
          {{else}}<span class="missing">Unknown Topic</span>{{/if}}
        </span>
      </h2>

    </section>

    {{#if image}}
    <section class="image">
      <div class="wrap">
        <img src={{image}} alt="{{#if alt}}{{alt}}{{else}}Some image{{/if}}" />
      </div>
    </section>
    {{/if}}

    <section class="content">
      {{#if body}}
      {{{body}}}
      {{else}}
      <span class="missing">Nothing here!</span>
      {{/if}}
    </section>

  </article>
</main>

{{/boilerplate}}