<li class="item">
  {{#with article}}

  <a href="{{>URL}}/news/{{id}}" class="link">

    <section class="image">
      <img alt={{alt}} src={{image}} />
    </section>

    <section class="text">
      <h2 class="headline">
        {{#if headline}}
        {{headline}}

        {{else}}
        <span class="missing">
          [no headline]
        </span>
        {{/if}}
      </h2>

      <h3 class="desc">
        {{#if desc}}
        {{desc}}

        {{else}}
        <span class="missing">
          [no desc]
        </span>
        {{/if}}
      </h3>
    </section>

  </a>

  {{/with}}
</li>