{{#> boilerplate title=headline desc}}

{{>header}}

<section class="meta">
  <div class="topic">
    {{#each topic}}
    <span>
      {{this}}
    </span>
    {{/each}}
  </div>

  <h1 class="headline">
    {{#if headline}}
    {{headline}}
    {{else}}
    <span class="missing">
      [no headline]
    </span>
    {{/if}}
  </h1>

  <h2 class="stats">
    {{!--TODO Add icons --}}
    - <span class="author"> {{#if author}}{{author}}{{/if}}</span>
    - <span class="date"> {{#if date}}{{date}}{{/if}}</span>
    - <span class="topic"> {{#each topic}}{{#if @last}}{{this}}{{/if}}{{/each}}</span>
  </h2>
</section>

<section class="image">
  {{#if image}}
  <img href={{image}} alt="{{#if alt}}{{alt}}{{else}}Some image{{/if}}" />
  {{/if}}
</section>

<section class="content">
  {{#if body}}
  {{{body}}}
  {{else}}
  <span class="missing">Nothing here!</span>
  {{/if}}
</section>

{{/boilerplate}}