{{!-- All articles, in a list --}}
<ul class="articles_list">
  {{>STYLE name="articles_list"}}

  {{#each articles}}
  {{#with this}}

  <li class="item">

    <a href="{{>URL}}/news/{{id}}" class="link">

      <section class="image">
        <img alt="{{#if alt}}{{alt}}{{else}}[unknown image]{{/if}}" src={{image}} />
      </section>

      <section class="text">
        <h2 class="headline">
          {{#if headline}}
          {{headline}}

          {{else}}
          <span class="missing">
            [no headline]
          </span>
          {{/if}}
        </h2>

        <h3 class="desc">
          {{#if desc}}
          {{desc}}

          {{else}}
          <span class="missing">
            [no desc]
          </span>
          {{/if}}
        </h3>
      </section>

    </a>

  </li>

  {{/with}}
  {{/each}}
</ul>