<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- Title --}}
  <title>
    {{#if title}}
    {{title}} - Trustworthy Times
    {{else}}
    Trustworthy Times
    {{/if}}
  </title>

  {{!-- Encoding --}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{!-- Meta information for embedding --}}
  <meta name="description"
    content="{{#if desc}}{{desc}} - Read more at the Trustworthy Times{{else}}The Trustworthy Times{{/if}}" />
  <meta name="url" content={{URL}} />
  <meta name="theme-color" content="#5e325e">
  <meta name="author" content="darcy" />

  {{!-- Custom image --}}
  {{#if image}}
  <meta name="image" property="image" content={{image}} />
  <meta name="og:image" property="og:image" content={{image}} />

  {{!-- Default image --}}
  {{else}}
  <meta name="image" property="image" content="{{>URL}}/public/image/logo.png" />
  <meta name="og:image" property="og:image" content="{{>URL}}/public/image/logo.png" />
  {{/if}}

  {{!-- Favicon --}}
  <link rel="shortcut icon" href="{{>URL}}/public/image/icon.png">

  {{!-- Global styles --}}
  {{>STYLE name="global"}}
</head>

<body>
  {{>@partial-block}}
</body>

</html>