{{#> boilerplate }}

{{>header}}

<h1>
  this is the index!
</h1>

blah blah

content:

<div>
  {{#each articles}}
  {{#with this}}
  <a href="news/{{id}}">
    <h2>
      {{#if headline}}
      {{headline}}
      {{else}}
      [no headline]
      {{/if}}
      ({{id}})
    </h2>

    <p>
      {{#if title}}
      {{title}}
      {{else}}
      [no title]
      {{/if}}
    </p>
    <hr />
  </a>
  {{/with}}
  {{/each}}
</div>

{{/boilerplate}}