{{#> boilerplate }}

{{>header}}

<div>
  {{#each articles}}
  {{#with this}}
  <a href="news/{{id}}{{> IF_EXT}}">
    <h2 class="headline">
      {{#if headline}}
      {{headline}}
      {{else}}
      <span class="missing">
        [no headline]
      </span>
      {{/if}}
    </h2>

    <h3 class="desc">
      {{#if desc}}
      {{desc}}
      {{else}}
      <span class="missing">
        [no desc]
      </span>
      {{/if}}
    </h3>
    <hr />
  </a>
  {{/with}}
  {{/each}}
</div>

{{/boilerplate}}